Makefile.in
autom4te.cache/
Makefile
*.o
aclocal.m4
config.h
config.h.in~
config.log
config.guess
config.status
configure
.*.swp
.deps/
.libs/
*.la
*.lo
stamp-h1
tools/ncd
libcomplearn*tar.*z*
libtool
