autom4te.cache/
test/unitcheck/*.c
Makefile
Makefile.in
*.o
m4/*.m4
ltmain.sh
config.sub
config.h
config.h.in~
config.log
config.guess
config.status
configure
.*.swp
.deps/
.libs/
*.la
*.lo
stamp-h1
tools/ncd
test/unitcheck/lctest
libcomplearn*tar.*z*
lib/libcomplearn.pc
libtool
